<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenAI_API_KEY</key>
	<string>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</string>
</dict>
</plist>
